<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenAI_API_KEY</key>
	<string>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</string>
</dict>
</plist>
